:root {
    --red:  #211712;
    --black:  #011212;
}

body {
    background-color: var(--black);
}

.ball {
    width: 100px;
    height: 100px;
    background-color: var(--red);
    border-radius: 50px;
}
